html {
  font-size: 30px;
}
body {
  background: url(./thumb-1920-1061566.png) center center / cover no-repeat;
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  body {
    background-size: cover;
    background-position: 70% center;
  }
}
/*id選擇
#id{}
*/

/*類別
.clsaa{}
*/

/*and
.class.class2{
    color: aqua;
}*/

/*or
.class,.class2{
    color: brown;
}*/

/*sub
.class .class2 {
  color: red;
}
*/
/* .class:hover {
  color: blue;
  font-size: 40px;
} */

/* .class::after {
  content: "T1";
} */
.class {
  color: rgb(45, 86, 3);
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  background: #efe9e9;
  width: 300px;
  height: 300px;
  margin: 10px;

  border: 2px #dc1919 solid;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class2 {
  padding: 0px;
}
